<section class="hero-banner d-flex align-items-start text-white">
  <div class="container mt-4">
    <div class="row justify-content-end">
      <div class="col-md-6 text-end hero-text-right">
        <h1 class="display-3 fw-bold">Little Eventbrite</h1>
        <p class="lead text-primary-emphasis">Créez, gérez et partagez vos événements en toute simplicité.</p>
        <%= link_to "Créer un événement", new_event_path, class: "btn btn-primary btn-lg mt-3" %>
      </div>
    </div>
  </div>
</section>
