<section class="page-banner d-flex align-items-center">
  <div class="container text-center">
    <h2 class="text-white display-5 fw-semibold"><%= content_for?(:banner_title) ? yield(:banner_title) : "Titre par défaut" %></h2>
  </div>
</section>