<% content_for :title, "Events" %>

<!-- Hero Section -->
<%= render partial: "shared/hero_banner" %>

<h1 class="m-4">Evénement à venir</h1>
<!-- Events List -->
<div class="container my-5">
  <div class="row g-4">
    <% @events.each do |event| %>
      <%= render partial: "event", locals: { event: event } %>
    <% end %>
  </div>
</div>