<% content_for :title, "Events" %>

<div class="hero">
  <div class="container">
    <h1>Little Eventbrite</h1>
    <h3>Organisez ou participez à des événements passionnants partout en France.</h3>
  </div>
</div>

<div class="form-wrapper">
  <h2>Événements à venir</h2>

  <div class="row events-grid">
    <% @events.each do |event| %>
      <div class="event-card">
        <%= render event %>
        <%= link_to "Voir plus", event, class: "button" %>
      </div>
    <% end %>
  </div>
</div>