<h1>Nouvelle participation à votre événement</h1>

<p>Bonjour <%= @admin.first_name %>,</p>

<p><%= @participant.first_name %> <%= @participant.last_name %> vient de s'inscrire à votre événement "<%= @event.title %>".</p>