html, body {
  margin: 0;
  padding: 0;
}

.navbar {
    background-color: #cbe8f4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navbar li {
  position: relative;
}

.nav-right {
  margin-left: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none !important;
  position: absolute;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 2rem;
  margin: 0rem;
  z-index: 1000;
  border-radius: 4px;
}

.dropdown:hover .dropdown-menu {
  display: block!important;
}

.dropdown-menu li {
  margin-bottom: 0.5rem;
}

.dropdown-menu li:last-child {
  margin-bottom: 0;
}


.hero {
  background-image: url('/pexels-zeze-2151252797-32553572.jpg');
  background-size: cover;        
  background-position: center;     
  padding: 6vw 2vw 6vw 6vw;            
  text-align: right;            
  position: relative;
}

.hero h1 {

  margin-bottom: 1rem;
  font-size: 8em;
  color: #5a4a4c;
}

.hero .container {
  max-width: 800px;
  margin-left: auto;
  margin-right: 0;
  padding: 4vw;
}


.form-wrapper {
  padding: 5rem;
}


.events-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.event-card {
  background: #faf9f9;
  border: 1px solid #eee;
  padding: 1.5rem;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  width: calc(33.333% - 1rem);
  box-sizing: border-box;
}

.button-small {
  all: unset; /* remet à zéro les styles par défaut */
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  background-color: #ad5aa9;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}