
<footer class="bg-light text-dark mt-5 pt-4 pb-2">
  <div class="container">
    <div class="row">

          
      <div class="col-md-4">
        <h5>Little Eventbrite</h5>
        <p class="small">Organise et découvre des événements proches de chez toi.</p>
      </div>

          
      <div class="col-md-4">
        <h5>Liens utiles</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-dark text-decoration-none">Accueil</a></li>
          <li><a href="#" class="text-dark text-decoration-none">Créer un événement</a></li>
          <li><a href="#" class="text-dark text-decoration-none">Mon compte</a></li>
        </ul>
      </div>

          
      <div class="col-md-4">
        <h5>Suivez-nous</h5>
        <a href="#" class="text-dark me-2">Facebook</a>
        <a href="#" class="text-dark me-2">Twitter</a>
        <a href="#" class="text-dark">Instagram</a>
      </div>

    </div>

    <p class="text-center small mb-0">&copy; 2025 Little Eventbrite — Tous droits réservés.</p>
  </div>
</footer>

  
  
